<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ej.rovadiahyosefcalendar" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:allowBackup="true">
        <activity
            android:name="com.ej.rovadiahyosefcalendar.activities.MoladActivity"
            android:exported="true" />
        <activity
            android:name="com.ej.rovadiahyosefcalendar.activities.ZmanimLanguageActivity"
            android:exported="true" />
        <activity
            android:name="com.ej.rovadiahyosefcalendar.activities.AdvancedSetupActivity"
            android:exported="true" />
        <activity
            android:name="com.ej.rovadiahyosefcalendar.activities.QuickSetupActivity"
            android:exported="true" />
        <activity
            android:name="com.ej.rovadiahyosefcalendar.activities.SetupChooserActivity"
            android:exported="true" />
        <activity android:name="com.ej.rovadiahyosefcalendar.activities.FullSetupActivity" />
        <activity
            android:name="com.ej.rovadiahyosefcalendar.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/PreferenceScreen" />
        <activity android:name="com.ej.rovadiahyosefcalendar.activities.SetupElevationActivity" />
        <activity
            android:name="com.ej.rovadiahyosefcalendar.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.ej.rovadiahyosefcalendar.notifications.DailyNotifications" />
        <receiver android:name="com.ej.rovadiahyosefcalendar.notifications.OmerNotifications" />
        <receiver android:name="com.ej.rovadiahyosefcalendar.notifications.BootNotifications"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>