<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activities.TipScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WelcomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShowErrorActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" /> <!-- Hidden in local.properties -->
        <activity
            android:name=".activities.GetUserLocationWithMapActivity"
            android:exported="false"
            android:label="@string/search_for_a_place" />
        <activity
            android:name=".activities.JerusalemDirectionMapsActivity"
            android:exported="false"
            android:label="@string/jerusalem_direction" />
        <activity
            android:name=".activities.OmerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NetzActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_netz"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activities.SiddurViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ZmanimSettingsActivity"
            android:exported="false"
            android:label="@string/zmanim_settings" />

        <receiver
            android:name=".activities.ZmanimAppWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/zmanim_app_widget_info" />
        </receiver>

        <activity
            android:name=".activities.NotificationSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_notification_settings" />
        <activity
            android:name=".activities.MoladActivity"
            android:exported="true"
            android:label="@string/molad_calculator" />
        <activity
            android:name=".activities.ZmanimLanguageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AdvancedSetupActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SimpleSetupActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SetupChooserActivity"
            android:exported="true" />
        <activity android:name=".activities.InIsraelActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".activities.SetupElevationActivity" />
        <activity
            android:name=".activities.MainFragmentManager"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.NextZmanCountdownNotification"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <receiver android:name=".notifications.DailyNotifications" android:exported="true" />
        <receiver android:name=".notifications.ZmanimNotifications" android:exported="true" />
        <receiver android:name=".notifications.ZmanNotification" android:exported="true" />
        <receiver android:name=".notifications.OmerNotifications" android:exported="true" />
        <receiver android:name=".notifications.TekufaNotifications" android:exported="true" />
        <receiver android:name=".notifications.CombinedTekufaNotifications" android:exported="true" />
        <receiver android:name=".notifications.AmudeiHoraahTekufaNotifications" android:exported="true" />
        <receiver
            android:name=".notifications.BootNotifications"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>